HOST=ccarts.hosted.panopto.com
IDP=sso.cca.edu
# external group provider (e.g. Moodle)
# comment out if you don't want to copy external groups from _all_ providers
PROVIDER=moodle-production
USERNAME=ephetteplace
APP_KEY=abcd1234...
LOGLEVEL=INFO
FOLDER=64456041-2dd0-4c27-9d6c-b1020149a856
